<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 Tracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='covid_styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='covid.js') }}"></script>
</head>

<body>
    <div id="background_boxes">
        <div id="top_horizontal_square">
            <h3>Covid Data in the United States</h3>
            <form name="input" action="html_form_action.php" method="get">
                State name: <input type="text" name="user" placeholder="Search for region">
                <input type="submit" value="Submit">
                <input type="text" id="myInputList" onkeyup="getResults()" placeholder="Search for region">
            </form>
            
            
            <h3>You can go to <a href="/">home page</a>.</h3>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <div id ="list_container" class = "dropdown-content"></div>
            </div>
        </div>
    </div>



</body>

</html>