<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 Tracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='covid_styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='covid.js') }}"></script>
</head>

<body>
    <div id="background_boxes">
        <div id="top_horizontal_square">
            <h3>Covid Data in the United States</h3>
            <h4>
                <a id='rightUpperText'>
                    <p>You can search for states and see graphs. They get displayed down below!</p>
                </a>
            </h4>

            <h3>You can go to <a href="/">home page</a>.</h3>
            </br>
            </br>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search for state name.." id="myInput" onkeyup="filterFunction()">
                <div id="list_container" class="dropdown-content"></div>
            </div>
        </div>
    </div>



</body>

</html>