<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='covid.js') }}"></script>
    -->
</head>

<body>
    <div id="background_boxes">
        <div id="top_horizontal_square">
            <h3>Aiden and Silas's website</h3>
            <h4> a website that presents the covid and vaccination data </h4>
            <p>You can go to <a href="covid_cases_index.html">the covid tracker page</a>.</p>
            <p>You can go to <a href="about.html">the about page</a>.</p>
        </div>
    </div>


</body>

</html>