<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 Tracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='covid.js') }}"></script>
</head>

<body>
    <div id="background_boxes">
        <div id="top_horizontal_square">
            <h2>Click the button for the graph of covid-19 in the U.S</h2>
            <input type="text" id="myInput" onkeyup="list_search()" placeholder="Search for region">
            <p><button id="total_cases_graph_button">View graph</button></p>
        </div>
    </div>


</body>

</html>