<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Covid-19 Tracker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <script type="text/javascript" src=".js"></script>
    </head>

    <body>
        <div id = "background_boxes">
            <div id = "top_horizontal_square"> 
                <h2>Click the button for the graph of covid-19 in the U.S</h2>
            </div>
        </div>

        <p><button id="prizebutton">View graph</button></p>
    </body>
</html>