<!--
    Aiden Chang, Silas Zhao
    22 Febuary 2021

    simple HTML to support covid-19 website
-->
<!DOCTYPE html>
<html>

<head>
    <title>Source</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='covid.js') }}"></script>
    -->
</head>

<body>
    <div id="background_boxes">
        <div id="top_horizontal_square">
            <h3>Sources: </h3>
            <ul>
                <li> covid-19 cases and historical data are retrieved from <a href="https://covid.cdc.gov/covid-data-tracker/#cases_casesper100klast7days">here</a></li>
                <li> vaccination datas are retrieved from <a href="https://covid.cdc.gov/covid-data-tracker/#vaccination-trends">here</a> </li>
            </ul>
            </p> All of these are from CDC official website.
            <p>You can go to <a href="/">home page</a>.</p>
        </div>
    </div>


</body>

</html>